
grant codeBase "file:/Users/cecon/Unesp/CDeP/distributed-application-service" {
    permission java.net.SocketPermission "localhost:*", "connect,resolve";
    permission java.security.AllPermission;
};
